@model HomeGameModel
<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- CSS -->
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/github.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap-switch-button@1.1.0/css/bootstrap-switch-button.min.css">

    <!-- K線圖CSS -->
    <link rel="stylesheet" href="~/Content/css/style.css">

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap-switch-button@1.1.0/dist/bootstrap-switch-button.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="~/Scripts/techanjs.js"></script>
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Home/HomeGame.js"></script>
    <script>
        var percent = '@Model.Percent';
        var mask = '@Model.OnOff';
        var isRadom = '@Model.IsRadom';
        var stockTotalNum = '@Model.StockTotalNum';
    </script>

    <style TYPE="text/css">
        body {
            font-size: 2vW;
            background: url(../Content/img/black-carbon.jpg) repeat;
        }

        .bg-carbon{
            overflow-x: hidden;
            overflow-y: auto;
        }
        .ft1 {
            font-size: 4vw;
            line-height: 2;
        }
    </style>
</head>
<body>
<div id="Result" class="table-responsive" style="display: none;">
    <table id="" border="0" cellpadding="0" cellspacing="0" class="table table-borderless table-striped">
        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr class="" align="center">
            <td>
                <div class="pb-0 mb-0">
                    <div class="row col-10 no-gutters px-0" align="center">
                        <a href="https://vmjsmarket.jihsun.com.tw/StockVSRobot/">
                            <img src="~/Content/img/banner.svg" style="width:80vW;">
                        </a>
                    </div>
                </div>
            </td>
        </tr>
        <tr class="" align="center">
            <td>
                <div class="row col-10 no-gutters" align="left">
                    <div class="col-8 text-white ft1">
                        <div>本次交易損益 :</div>
                        <div id="Man" class="text-warning">***%</div>
                        <div>透過移動鎖利損益 :</div>
                        <div id="Robot" class="text-warning">***%</div>
                    </div>
                    <div class="col-4 align-self-end">
                        <img id="Winlose" src="~/Content/img/youwin.png" class="img-fluid">
                    </div>
                    <div class="col-12 text-white ft1">
                        <div>評語 :</div>
                        <span id="Comments"></span>
                    </div>
                </div>
                <div class="col-12">
                    <div id="Chart"></div>
                </div>
            </td>
        </tr>
    
        <tr class="" align="center">
            <td>
                <div class="d-flex col-11 align-items-center" align="center">
                    <a href="#" class="col">
                        <img id="FightAgainBtn" src="~/Content/img/bt_fightingagain.svg" class="img-fluid">
                    </a>
                    <a href="#" class="col" data-toggle="modal" data-target="#QR_form">
                        <img id="LotteryBtn" src="~/Content/img/bt_lottery0.svg" class="img-fluid">
                    </a>
                </div>
            </td>
        </tr>
    </table>
</div>

<div id="Play" class="table-responsive">
    <table id="" border="0" cellpadding="0" cellspacing="0" class="table table-borderless table-striped">
        <tr>
            <td background="~/Content/img/bg_01.png" alt="" style="background-repeat: no-repeat;background-size: cover;" class="py-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr class="" align="center">
            <td background="~/Content/img/bg_03.png" alt="" style="background-repeat: no-repeat;background-size: cover;" class="py-0">
                <div class="pb-0 mb-0">
                    <div class="row col-10 no-gutters px-0" align="center">
                        <a href="https://vmjsmarket.jihsun.com.tw/StockVSRobot/">
                            <img src="~/Content/img/banner.svg" style="width:80vW;">
                        </a>
                    </div>
                </div>
            </td>
        </tr>
        <tr class="" align="center">
            <td background="~/Content/img/bg_03.png" alt="" style="background-repeat: no-repeat;background-size: cover;" class="py-0">
                <div class="row col-10 no-gutters" align="left">
                    <div class="col-4 text-white">
                        <div><span id="Stock"></span></div>
                        <div>區間最高:<span id="High">0</span></div>
                        <div>區間最低:<span id="Low">0</span></div>
                        <div class="text-danger">買進價:<span id="BPrice"></span></div>
                    </div>
                    <div class="col-4 text-white">
                        @if (Model.OnOff == "O")
                        {
                            <div>
                                資訊遮罩
                            </div>
                        }
                        else
                        {
                            <div>
                                起始日: <span id="SDT">0</span>
                            </div>
                        }

                        <div class="text-warning">20MA: <span id="MAMonth">0</span></div>
                        <div class="text-info">60MA: <span id="MASeason">0</span></div>
                        <div class="text-success">賣出價:<span id="SPrice"></span></div>
                    </div>
                    <div class="col-4 text-white">
                        @if (Model.OnOff == "O")
                        {
                            <div>
                                資訊遮罩
                            </div>
                        }
                        else
                        {
                            <div>
                                現在: <span id="NowDT">0</span>
                            </div>
                        }

                        <div>5日RSI值: <span id="RSI">61.67</span></div>
                        <div>移動鎖利停利: @Model.Percent%</div>
                        <div>移動鎖利價:<span id="TrigPrice_Robot"></span></div>
                    </div>
                </div>
                <div class="col-12">
                    <div id="CandlestickChart"></div>
                    @*<img src="~/Content/img/chart1.png" style="width:80vW;height: 320px">*@
                </div>
            </td>
        </tr>
        <tr class="" align="center">
            <td background="~/Content/img/bg_03.png" alt="" style="background-repeat: no-repeat;background-size: cover;" class="py-0">
                <div class="row col-10 no-gutters" align="left">
                    <div class="col-4 text-white">成交量</div>
                </div>
                <div class="col-12">
                    <div id="VolumeChart"></div>
                    @*<img src="~/Content/img/chart3.png" style="width:80vW;height: 120px">*@
                </div>
            </td>
        </tr>
        <tr class="" align="center">
            <td background="~/Content/img/bg_03.png" alt="" style="background-repeat: no-repeat;background-size: cover;" class="py-0">
                <div class="row col-10 no-gutters" align="left">
                    <div class="col-4 text-white">RSI</div>
                </div>
                <div class="col-12">
                    <div id="RSIChart"></div>
                </div>
            </td>
        </tr>
        <tr class="" align="center">
            <td background="~/Content/img/bg_02.png" alt="" style="background-repeat: no-repeat;background-size: cover;" class="py-0">
                <div class="d-flex col-11 align-items-center" align="center">
                    <a href="#" class="col">
                        <img id="StartBtn" src="~/Content/img/bt_play0.svg" class="img-fluid">
                    </a>
                    <a href="#" class="col">
                        <img id="BuyBtn" src="~/Content/img/bt_buyN.svg" class="img-fluid">
                    </a>
                    <a href="#" class="col">
                        <img id="SellBtn" src="~/Content/img/bt_sellN.svg" class="img-fluid">
                    </a>
                </div>
            </td>
        </tr>

        <tr>
            <td background="~/Content/img/bg_04.png" alt="" style="background-repeat: no-repeat;background-size: cover;" class="pt-0">&nbsp;&nbsp;<br>&nbsp;&nbsp;</td>
        </tr>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="QR_form" tabindex="-1" role="dialog" aria-labelledby="QR_formLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <h5 class="modal-title text-white" id="QR_formLabel">手機掃碼來抽獎</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="~/Content/img/QR_form.png" class="img-fluid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-block btn-link" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>